In [23]:
import pandas as pd 
import seaborn as sns
import sys
!{sys.executable} -m pip install plotly
from plotly.offline import iplot
from plotly.subplots import make_subplots
import plotly.graph_objs as go

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

Requirement already satisfied: plotly in c:\users\apc\anaconda3\lib\site-packages (4.14.3)
Requirement already satisfied: six in c:\users\apc\anaconda3\lib\site-packages (from plotly) (1.15.0)
Requirement already satisfied: retrying>=1.3.3 in c:\users\apc\anaconda3\lib\site-packages (from plotly) (1.3.3)

In [15]:
df = pd.read_csv("global_terror.csv", encoding="latin-1")

'Spain'

In [18]:
df.columns

Index(['eventid', 'iyear', 'imonth', 'iday', 'approxdate', 'extended',
       'resolution', 'country', 'country_txt', 'region',
       ...
       'addnotes', 'scite1', 'scite2', 'scite3', 'dbsource', 'INT_LOG',
       'INT_IDEO', 'INT_MISC', 'INT_ANY', 'related'],
      dtype='object', length=135)

In [24]:
keep_columns =keep_columns =[
        "iyear", 
        "imonth", 
        "iday", 
        "country_txt",
        "city",
        "region_txt",
        "latitude",
        "longitude", 
        "provstate"
        ]

df= df[keep_columns]

In [35]:
is_spain = df["country_txt"] == "Spain"
df.loc[is_spain,"iyear"].value_counts().head(1)

2014    16903
Name: iyear, dtype: int64

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181691 entries, 0 to 181690
Data columns (total 7 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   iyear        181691 non-null  int64
 1   imonth       181691 non-null  int64
 2   iday         181691 non-null  int64
 3   country_txt  181691 non-null  object
 4   region_txt   181691 non-null  object
 5   latitude     177135 non-null  float64
 6   longitude    177134 non-null  float64
dtypes: float64(2), int64(3), object(2)
memory usage: 9.7+ MB

In [12]:
df_filter= df[df["country_txt"].isin(["Spain","Italy"])]
df_filter= df_filter[["iyear","country_txt"]]

gb = df_filter.groupby(["iyear","country_txt"])["country_txt"].count().to_frame()
gb.columns = ["count"]
gb.reset_index(inplace = True)
gb.T

,0,1,2,3,4,5,6,7,8,9,...,82,83,84,85,86,87,88,89,90,91
iyear,1970,1970,1971,1971,1972,1972,1973,1973,1974,1974,...,2013,2013,2014,2014,2015,2015,2016,2016,2017,2017
country_txt,Italy,Spain,Italy,Spain,Italy,Spain,Italy,Spain,Italy,Spain,...,Italy,Spain,Italy,Spain,Italy,Spain,Italy,Spain,Italy,Spain
count,3,4,3,22,4,19,15,21,22,14,...,7,5,7,4,5,1,11,3,8,4

In [13]:
df_filter

        iyear country_txt
12       1970       Italy
97       1970       Italy
103      1970       Spain
437      1970       Spain
569      1970       Italy
...       ...         ...
178017   2017       Spain
178018   2017       Spain
178048   2017       Spain
181113   2017       Italy
181682   2017       Italy

[4814 rows x 2 columns]