# Global Terrorism exploration and prediction APP

## Dataset

The Global Terrorism Database (GTD) documents more than 200,000 international and domestic terrorist attacks that occurred worldwide since 1970. With details on various dimensions of each attack, the GTD familiarizes analysts, policymakers, scholars, and journalists with patterns of terrorism. The GTD defines terrorist attacks as: The threatened or actual use of illegal force and violence by a non-state actor to attain a political, economic, religious, or social goal through fear, coercion, or intimidation. Data collection is ongoing and updates are published annually at www.start.umd.edu/gtd.

This dataset is available: https://www.kaggle.com/START-UMD/gtd/data, in the document called: <b>globalterrorismdb_0718dist.csv </b>

## Project Goals

The goal of the project is to understand more about the global terrorism, using an exploration app in streamlit that allow to understand better the terrorism in each country: terrorist groups, attacks, more dangerous cities, most frequent acts of terror // Increase to..do//

Having a good approach about the trends during all the period (1970 til.2017) like, if the terrorist attacks are increasing or decreasing... what kind of terrorist atacks are being on trend.... can we predict which region or regions will have a terrorist attack and which kind? can we predict the number of victims?

//Increase to..do//

## Importing Libreries

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Importing data

In [5]:
df = pd.read_csv("global_terror.csv",encoding="latin-1")

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181691 entries, 0 to 181690
Columns: 135 entries, eventid to related
dtypes: float64(55), int64(22), object(58)
memory usage: 187.1+ MB

In [7]:
df.head()

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,197000000001,1970,7,2,NaN,0,NaN,58,Dominican Republic,2,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
1,197000000002,1970,0,0,NaN,0,NaN,130,Mexico,1,...,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN
2,197001000001,1970,1,0,NaN,0,NaN,160,Philippines,5,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
3,197001000002,1970,1,0,NaN,0,NaN,78,Greece,8,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
4,197001000003,1970,1,0,NaN,0,NaN,101,Japan,4,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN

## Data Cleaning

In [12]:
df = df[['iyear','imonth','iday','country_txt','country','region_txt',
         'region','provstate','city',
         'latitude', 'longitude','success','suicide', 'attacktype1_txt',
         'attacktype1', 'targtype1_txt', 'targtype1',
         'gname', 'weaptype1_txt','weaptype1',
         'nkill','nwound']]

In [13]:
df.head()

,iyear,imonth,iday,country_txt,country,region_txt,region,provstate,city,latitude,...,suicide,attacktype1_txt,attacktype1,targtype1_txt,targtype1,gname,weaptype1_txt,weaptype1,nkill,nwound
0,1970,7,2,Dominican Republic,58,Central America & Caribbean,2,NaN,Santo Domingo,18.456792,...,0,Assassination,1,Private Citizens & Property,14,MANO-D,Unknown,13,1.0,0.0
1,1970,0,0,Mexico,130,North America,1,Federal,Mexico city,19.371887,...,0,Hostage Taking (Kidnapping),6,Government (Diplomatic),7,23rd of September Communist League,Unknown,13,0.0,0.0
2,1970,1,0,Philippines,160,Southeast Asia,5,Tarlac,Unknown,15.478598,...,0,Assassination,1,Journalists & Media,10,Unknown,Unknown,13,1.0,0.0
3,1970,1,0,Greece,78,Western Europe,8,Attica,Athens,37.997490,...,0,Bombing/Explosion,3,Government (Diplomatic),7,Unknown,Explosives,6,NaN,NaN
4,1970,1,0,Japan,101,East Asia,4,Fukouka,Fukouka,33.580412,...,0,Facility/Infrastructure Attack,7,Government (Diplomatic),7,Unknown,Incendiary,8,NaN,NaN

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181691 entries, 0 to 181690
Data columns (total 22 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   iyear            181691 non-null  int64
 1   imonth           181691 non-null  int64
 2   iday             181691 non-null  int64
 3   country_txt      181691 non-null  object
 4   country          181691 non-null  int64
 5   region_txt       181691 non-null  object
 6   region           181691 non-null  int64
 7   provstate        181270 non-null  object
 8   city             181257 non-null  object
 9   latitude         177135 non-null  float64
 10  longitude        177134 non-null  float64
 11  success          181691 non-null  int64
 12  suicide          181691 non-null  int64
 13  attacktype1_txt  181691 non-null  object
 14  attacktype1      181691 non-null  int64
 15  targtype1_txt    181691 non-null  object
 16  targtype1        181691 non-null  int64
 17  gname            181691 non-null  object
 18  weaptype1_txt    181691 non-null  object
 19  weaptype1        181691 non-null  int64
 20  nkill            171378 non-null  float64
 21  nwound           165380 non-null  float64
dtypes: float64(4), int64(10), object(8)
memory usage: 30.5+ MB

In [16]:
df.isnull().sum()

iyear                  0
imonth                 0
iday                   0
country_txt            0
country                0
region_txt             0
region                 0
provstate            421
city                 434
latitude            4556
longitude           4557
success                0
suicide                0
attacktype1_txt        0
attacktype1            0
targtype1_txt          0
targtype1              0
gname                  0
weaptype1_txt          0
weaptype1              0
nkill              10313
nwound             16311
dtype: int64

In [23]:
df['iday'].value_counts()
df['iday'].replace(to_replace=0, value=np.random.randint(1, 29), inplace=True)
df['iday'].value_counts()

9     6948
15    6500
1     6344
4     6153
16    6112
10    6064
13    6043
14    6028
28    6027
12    6012
3     6011
7     5997
19    5973
2     5954
27    5937
11    5936
20    5930
18    5880
25    5875
8     5859
17    5852
5     5844
21    5827
26    5823
22    5799
23    5782
6     5781
24    5752
29    5507
30    5046
31    3095
Name: iday, dtype: int64

In [22]:
df['imonth'].value_counts()
df['imonth'].replace(to_replace=0, value=np.random.randint(1, 13), inplace=True)
df['imonth'].value_counts()

5     16875
7     16268
8     15800
10    15583
6     15359
3     15257
4     15152
1     14936
11    14906
9     14180
2     13879
12    13496
Name: imonth, dtype: int64

In [28]:
df2 = df[["iyear", "imonth", "iday"]].copy()
df2.columns = ["year", "month", "day"]
pd.to_datetime(df2)
df["idate"] = pd.to_datetime(df2)
cols = list(df.columns)
cols = [cols[-1]] + cols[:-1]
df = df[cols]
df

,idate,iyear,imonth,iday,country_txt,country,region_txt,region,provstate,city,...,suicide,attacktype1_txt,attacktype1,targtype1_txt,targtype1,gname,weaptype1_txt,weaptype1,nkill,nwound
0,1970-07-02,1970,7,2,Dominican Republic,58,Central America & Caribbean,2,NaN,Santo Domingo,...,0,Assassination,1,Private Citizens & Property,14,MANO-D,Unknown,13,1.0,0.0
1,1970-10-09,1970,10,9,Mexico,130,North America,1,Federal,Mexico city,...,0,Hostage Taking (Kidnapping),6,Government (Diplomatic),7,23rd of September Communist League,Unknown,13,0.0,0.0
2,1970-01-09,1970,1,9,Philippines,160,Southeast Asia,5,Tarlac,Unknown,...,0,Assassination,1,Journalists & Media,10,Unknown,Unknown,13,1.0,0.0
3,1970-01-09,1970,1,9,Greece,78,Western Europe,8,Attica,Athens,...,0,Bombing/Explosion,3,Government (Diplomatic),7,Unknown,Explosives,6,NaN,NaN
4,1970-01-09,1970,1,9,Japan,101,East Asia,4,Fukouka,Fukouka,...,0,Facility/Infrastructure Attack,7,Government (Diplomatic),7,Unknown,Incendiary,8,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181686,2017-12-31,2017,12,31,Somalia,182,Sub-Saharan Africa,11,Middle Shebelle,Ceelka Geelow,...,0,Armed Assault,2,Military,4,Al-Shabaab,Firearms,5,1.0,2.0
181687,2017-12-31,2017,12,31,Syria,200,Middle East & North Africa,10,Lattakia,Jableh,...,0,Bombing/Explosion,3,Military,4,Muslim extremists,Explosives,6,2.0,7.0
181688,2017-12-31,2017,12,31,Philippines,160,Southeast Asia,5,Maguindanao,Kubentog,...,0,Facility/Infrastructure Attack,7,Private Citizens & Property,14,Bangsamoro Islamic Freedom Movement (BIFM),Incendiary,8,0.0,0.0
181689,2017-12-31,2017,12,31,India,92,South Asia,6,Manipur,Imphal,...,0,Bombing/Explosion,3,Government (General),2,Unknown,Explosives,6,0.0,0.0
181690,2017-12-31,2017,12,31,Philippines,160,Southeast Asia,5,Maguindanao,Cotabato City,...,0,Bombing/Explosion,3,Unknown,20,Unknown,Explosives,6,0.0,0.0

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181691 entries, 0 to 181690
Data columns (total 23 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   idate            181691 non-null  datetime64[ns]
 1   iyear            181691 non-null  int64
 2   imonth           181691 non-null  int64
 3   iday             181691 non-null  int64
 4   country_txt      181691 non-null  object
 5   country          181691 non-null  int64
 6   region_txt       181691 non-null  object
 7   region           181691 non-null  int64
 8   provstate        181270 non-null  object
 9   city             181257 non-null  object
 10  latitude         177135 non-null  float64
 11  longitude        177134 non-null  float64
 12  success          181691 non-null  int64
 13  suicide          181691 non-null  int64
 14  attacktype1_txt  181691 non-null  object
 15  attacktype1      181691 non-null  int64
 16  targtype1_txt    181691 non-null  object
 17  targtype1        181691 non-null  int64
 18  gname            181691 non-null  object
 19  weaptype1_txt    181691 non-null  object
 20  weaptype1        181691 non-null  int64
 21  nkill            171378 non-null  float64
 22  nwound           165380 non-null  float64
dtypes: datetime64[ns](1), float64(4), int64(10), object(8)
memory usage: 31.9+ MB